<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Add {{note.type}}</ion-title>
    <ion-buttons slot="end">
      <ion-button ion-button large (click)="save()">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="note">
    <div class="title flex-item">
      <input type="text" placeholder="Enter title here..." [(ngModel)]="note.title">
    </div>
    <div class="content-note flex-item" *ngIf="note.type === 'note'">
      <textarea placeholder="Enter content here..." [(ngModel)]="note.note"></textarea>
    </div>
    <div class="content-list flex-item" *ngIf="note.type === 'list'">
      <ion-button ion-button full icon-right clear (click)="addListItem()">
        Add Checklist
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <div class="checklist">
        <div class="scroll">
          <div class="list-item" *ngFor="let item of note.list; let i = index">
            <div class="icon" (click)="item.checked = !item.checked">
              <ion-icon item-end [name]="item.checked ? 'checkbox-outline': 'square-outline'"></ion-icon>
            </div>
            <div class="text"><textarea elastic-textarea placeholder="Enter description..." [(ngModel)]="item.text"></textarea></div>
            <div class="action">
              <ion-icon item-end name="close" color="danger" (click)="removeListItem(i)"></ion-icon>
            </div>
          </div>
        </div>

      </div>
      <div class="bottom">
        <div class="summary" *ngIf="note.type === 'list'">{{getSummary(note) | number: '1.0-1'}}% Complete</div>
        <div class="date">{{note.created | amTimeAgo}}</div>
      </div>
    </div>
    <div class="color flex-item">
      <ion-button ion-item clear (click)="openColor()">
        <ion-icon [style.color]="note.color" item-start name="color-palette"></ion-icon>
        Select a Color
      </ion-button>
    </div>
  </div>
</ion-content>