// $colors: (
//   primary:    #5B69C2,
//   secondary:  #3F88C5,
//   tertiary:   #FFBA08,
//   alternative: #2B8A91,
//   danger:     #D00000,
//   light:      #f4f4f4,
//   dark:       #222,
//   dark-alt: #3B4649,
//   stable: #9E9EA2,
//   white: #fff,
//   facebook:   #3b5998,
//   google:     #dd4b39,
// );
// :root {
//   --ion-color-primary: #5B69C2;
//   --ion-color-secondary:  #3F88C5;
//   --ion-color-tertiary:   #FFBA08;
//   --ion-color-alternative: #2B8A91;
//   --ion-color-danger:     #D00000;
//   --ion-color-light:      #f4f4f4;
//   --ion-color-dark:       #222;
//   --ion-color-dark-alt: #3B4649;
//   --ion-color-stable: #9E9EA2;
//   --ion-color-white: #fff;
//   --ion-color-facebook:   #3b5998;
//   --ion-color-google:     #dd4b39;

// }
:host {
  .more span {
    margin: 0 4px;
  }
  $checkbox-ios-icon-size: 30px;
  .no-events {
    font-size: 1rem;
    background: var(--ion-color-light);
    padding: 20px;
    border-radius: 6px;
    h2 {
      font-size: 1.4rem;
      color: var(--ion-color-primary);
    }
  }
  .group {
    display: flex;
    flex-direction: column;
    flex: 1;
    &>.title {
      display: flex;
      flex: 1;
      color: var(--ion-color-stable);
      background: var(--ion-color-stable);
      padding:10px;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  .event-item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 15px;
    // margin-bottom: 15px;
    border-bottom: 1px solid var(--ion-color-light);
    &>.color {
      display: flex;
      flex-direction: column;
      height: 15px;
      width: 15px;
      border-radius: 100%;
    }
    &>.desc {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 20px;
      &>.title {
        margin-bottom: 5px;
        font-weight: 600;
        color: var(--ion-color-dark-alt);
      }
      &>.more {
        display: flex;
        flex: 1;
        &>.date {
          display: flex;
          color: var(--ion-color-stable);
          font-size: 0.7rem;
          margin-right: 20px;
        }
        &>.icon {
          display: flex;
          align-items: flex-end;
          padding: 0 3px;
          color: var(--ion-color-stable);
        }
      }
    }
    &>.more {
      display: flex;
      width: 20%;
      justify-content: flex-end;
      align-items: flex-end;
      
    }
  }
}
