// $colors: (
//   primary:    #5B69C2,
//   secondary:  #3F88C5,
//   tertiary:   #FFBA08,
//   alternative: #2B8A91,
//   danger:     #D00000,
//   light:      #f4f4f4,
//   dark:       #222,
//   dark-alt: #3B4649,
//   stable: #9E9EA2,
//   white: #fff,
//   facebook:   #3b5998,
//   google:     #dd4b39,
// );


:host {
  ion-buttons ion-button {
    --color:  var(--ion-color-dark-alt);
  }
  .title-caret {
    display: block;
    font-size: .6rem;
    margin-top: 3px;
    text-align: center;
  }
  .scroll-content {
    overflow-y: hidden;
  }
  
  .bar-button-ios[icon-only] {
    min-width: 1.9em !important;
  }
  month-popover {
    .popover-content {
      top: 45px !important;
    }
  }
  .calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .graph {
      display: flex;
      flex-direction: column;
      padding: 10px 10px 20px;
      width: 100%;
      z-index: 30;
      background: white;
      .weekdays ion-col {
        text-transform: uppercase;
        text-align: center;
        display: flex;
        justify-content: center;
        color: var(--ion-color-dark) !important;
        font-size: 0.7rem;
        font-weight: 600;
      }
      .weeks {
        background: var(--ion-color-white) !important;
        ion-col {
          text-align: center;
          font-size: 0.7rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: var(--ion-color-dark) !important;
          .number {
            display: flex;
            height: 25px;
            width: 25px;
            font-weight: 300;
            justify-content: center;
            align-items: center;
          }
          .today {
            border-radius: 100%;
            color: var(--ion-color-white) !important;
            border: 1px solid var(--ion-color-primary) !important;
            background: var(--ion-color-primary) !important;
          }
          .different-month {
            color: lighten(#9E9EA2, 20%);
          }
          .selected {
            border-radius: 100%;
            border: 1px solid var(--ion-color-stable);
          }
          .events {
            display: flex;
            justify-content: center;
            div {
              display: flex;
              height: 4px;
              width: 4px;
              color: var(--ion-color-light);
              background: darken(#9E9EA2, 60%);
              border-radius: 100%;
              margin: 3px 1px 0;
            }
          }
        }
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      flex: 1;
      .header {
        background: var(--ion-color-light);
        color: var(--ion-color-stable);
        padding: 10px;
        font-size: 1rem;
        .pull-right {
          float: right;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
        .scroll {
          display: flex;
          flex-direction: column;
          flex: 1;
          position: absolute;
          overflow-y: auto;
          height: 100%;
          width: 100%;
          padding: 10px;

        }
      }
    }
  }
}


