:host { 
    max-height: 300px;
    overflow-y: auto;
    align-items: center;

    ion-list-header{
        color: var(--ion-color-primary);
    }

    button{
        background-color: var(--ion-color-primary);
        color: var(--ion-color-white);
        border-radius: 5px;
        width: 85px;
        height: 30px;
        margin: 5px;
    }
}