  :host {
  .scroll-content{
    overflow-y: hidden;
  }

  .profile {
    display: flex;
    flex-direction: column;
    flex: 1;
    height:100%;
    .header {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background: var(--ion-color-primary);
      color: var(--ion-color-white);
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 120px;
        height: 120px;
      }
      .desc{
        margin-top:20px;
        font-weight: 300;
        font-size: 2rem;
      }
    }
    &>.profile-content {
      display: flex;
      flex-direction: column;
      flex: 2;
      &>.tabs {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid var(--ion-color-stable);
        border-bottom: 1px solid var(--ion-color-stable);
        transition: all ease-in-out .5s;
        &>.tab-item {
          padding: 10px 20px;
          justify-content: space-around;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -2px;
            left: 0;
            background-color: var(--ion-color-primary);
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
          &.active{
            &:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
        }
      }
      &>.body {
        display: flex;
        flex: 1;

        position: relative;
        &>span{
          position: absolute;
          padding:10px 20px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          overflow-y: auto;
        }
      }
    }
  }
}
