ion-icon[name="ios-stats"] {
  color: #fff;
  background: #5B69C2;
  border-radius: 50%;
  padding: 8px;
  font-size: 24px;
  width: 24px;
  height: 24px;

}
ion-tab-button[tab="dashboard"] {
  --padding-bottom: 8px;
}
ion-tab-button span {
  font-size: 22px;
  line-height: 24px;
}
ion-tab-button ion-label {
  font-size: 10px;
  margin: 2px 0;
}

/*$colors: (
  primary:    #5B69C2,
  secondary:  #3F88C5,
  tertiary:   #FFBA08,
  alternative: #2B8A91,
  danger:     #D00000,
  light:      #f4f4f4,
  dark:       #222,
  dark-alt: #3B4649,
  stable: #9E9EA2,
  white: #fff,
  facebook:   #3b5998,
  google:     #dd4b39,
);
page-tab {
  .icons-general {
    display: inline-block;
    font: normal normal 300 24px/1 Simple-Line-Icons !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 2px;
    transform: translate(0, 0);
  }
  .ion-ios-icon-calendar::before,
  .ion-ios-icon-calendar-outline::before,
  .ion-md-icon-calendar::before {
    @extend .icons-general;
    content: "\e075";
  }
  .ion-ios-icon-bar-chart::before,
  .ion-ios-icon-bar-chart-outline::before,
  .ion-md-icon-bar-chart::before {
    @extend .icons-general;
    content: "\e077";
  }
  .ion-ios-icon-bell::before,
  .ion-ios-icon-bell-outline::before,
  .ion-md-icon-bell::before {
    @extend .icons-general;
    content: "\e027";
  }
  .ion-ios-icon-note::before,
  .ion-ios-icon-note-outline::before,
  .ion-md-icon-note::before {
    @extend .icons-general;
    content: "\e060";
  }
  .ion-ios-icon-user::before,
  .ion-ios-icon-user-outline::before,
  .ion-md-icon-user::before {
    @extend .icons-general;
    content: "\e005";
  }
  a:nth-of-type(3) {
    border-radius: 100%;
    position: relative;
    margin-top: -18px;
    .icon {
      background:  linear-gradient(to right, color($colors, primary) 0%, lighten(color($colors, primary),10%) 100%);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      color: color($colors, white);

    }
    &[aria-selected=true] .tab-button-icon{
      color: color($colors, white) !important;
    }
  }
}*/
