<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Event</ion-title>
    <ion-buttons slot="end">
      <ion-button ion-button large (click)="save()">
        <ion-icon name="md-checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-section form-item">
    <div class="left">
      <div class="label">Title</div>
      <input type="text" placeholder="Enter title here..." [(ngModel)]="event.title">
    </div>
    <div class="right" (click)="openColors()" [style.background]="event.color"></div>
  </div>
  <div class="date-section form-item">
    <div class="left">
      <div class="label">Start date</div>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="event.start"></ion-datetime>
    </div>
    <div class="right">
      <div class="label">End date</div>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="event.end"></ion-datetime>
    </div>
  </div>
  <div class="all-day-section form-item">
    <div class="left">
      <ion-label>All Day</ion-label>
    </div>
    <div class="right">
      <ion-toggle></ion-toggle>
    </div>
  </div>
  <div class="time-section form-item">
    <div class="left">
      <div class="label">Start time</div>
      <ion-datetime displayFormat="HH:mm:ss a" pickerFormat="HH:mm:ss a" [(ngModel)]="event.start"></ion-datetime>
    </div>
    <div class="right">
      <div class="label">End time</div>
      <ion-datetime displayFormat="HH:mm:ss a" pickerFormat="HH:mm:ss a" [(ngModel)]="event.end"></ion-datetime>
    </div>
  </div>
  <div class="remind-section form-item">
    <div class="left">
      <ion-label>Remind Me</ion-label>
    </div>
    <div class="right">
      <ion-toggle color="secondary" [(ngModel)]="showRemind"></ion-toggle>
    </div>
  </div>
  <div class="remind-detail form-item" [hidden]="!showRemind">
    <div class="content" *ngFor="let reminder of event.reminders; let i = index; let first = first; let last = last;">
      <div class="left">
        <ion-select [(ngModel)]="event.reminders[i]" placeholder="Set Reminder">
          <ion-select-option *ngFor="let time of remindTimes" value="time">{{getHumanize(time)}}</ion-select-option>
        </ion-select>
      </div>
      <div class="right">
        <ion-button *ngIf="!last" ion-button fill="clear" color="danger" icon-only (click)="removeReminder(i)">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button ion-button fill="clear" color="secondary" icon-only (click)="addReminder()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
  <div class="location-section form-item">
    <div class="left">
      <ion-label>Add Location</ion-label>
    </div>
    <div class="right">
      <ion-toggle color="secondary" [(ngModel)]="showLocation"></ion-toggle>
    </div>
  </div>
  <div class="location-detail form-item" [hidden]="!showLocation">
    <div class="left">
      <input type="text" placeholder="Enter a location" [(ngModel)]="event.location" (ngModelChange)="searchLocations($event)"></div>
    <ion-list no-lines *ngIf="locations.length > 0">
      <ion-button ion-item *ngFor="let location of locations" (click)="locationSelected(location)">
        {{ location.place + ', ' + location.city + ', ' + location.country }}
      </ion-button>
    </ion-list>
  </div>
  <div class="invites-section form-item">
    <div class="left">
      <ion-label>Add Invites</ion-label>
    </div>
    <div class="right">
      <ion-toggle color="secondary" [(ngModel)]="showInvites"></ion-toggle>
    </div>
  </div>
  <div class="invites-detail form-item" [hidden]="!showInvites">
    <div class="left">
      <div class="images">
        <div class="image" *ngFor="let contact of event.invites | slice: 0: 7;" [style.background-image]="'url(' +contact.picture + ')'"></div>
      </div>
    </div>
    <div class="right">
      <ion-button ion-button fill="clear" color="secondary" icon-only (click)="addInvite()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="notes-section form-item">
    <div class="left">
      <ion-label>Add Notes</ion-label>
    </div>
    <div class="right">
      <ion-toggle color="secondary" [(ngModel)]="showNotes"></ion-toggle>
    </div>
  </div>
  <div class="notes-detail form-item" *ngIf="showNotes">
    <textarea elastic-textarea [(ngModel)]="event.notes" placeholder="Enter note"></textarea>
  </div>

</ion-content>