:host {
  display: flex;
  flex: 1;
  &>.item {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto !important;
    align-items: center;
    width: 33.33%;
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
    --padding-top: 0px;
  }
  simple-line-icon {
    display: flex;
    flex: 1;
    font-size: 3rem;
    justify-content: center;
  }
  .text {
    display: flex;
    flex: 1;
    margin: 0px 0;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
  }
  ion-button ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --padding-top: 0;
    --inner-padding-top: 0;
    --padding-bottom: 0;
    --inner-padding-bottom:0;
    height: 34px;

  }
  ion-item span {
    font-size: 20px;
  }
  ion-item span,.number {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  ion-button ion-list {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  
}
