$colors: (
  primary:    #5B69C2,
  secondary:  #3F88C5,
  tertiary:   #FFBA08,
  alternative: #2B8A91,
  danger:     #D00000,
  light:      #f4f4f4,
  dark:       #222,
  dark-alt: #3B4649,
  stable: #9E9EA2,
  white: #fff,
  facebook:   #3b5998,
  google:     #dd4b39,
);
note-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  .no-notes {
    font-size: 1.6rem;
    background: color($colors, light);
    padding: 20px;
    border-radius: 6px;
    h2 {
      font-size: 2rem;
      color: color($colors, primary);
    }
  }
  .note-item {
    margin: 10px;
    border-left: 3px solid;
    border-bottom: 1px solid color($colors, light)!important;
    padding: 10px;
    &:nth-of-type(odd) {
      background: color($colors, light);
    }
    h4 {
      font-size: 1.6rem;
      margin: 8px 0;
    }
    .bottom{
      display: flex;
      margin-top: 10px;
      font-size: 1rem;
      .summary{
        flex:1;
        display: flex;
      }
      .date {
        flex:1;
        display: flex;
        justify-content: flex-end;
      }
    }

    .note-list {
      display: flex;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      ion-icon {
        margin-right: 10px;
      }
      span {
        display: flex;
        flex: 1;
      }
    }
  }
}
