// Color icons
$colors: (
  primary:    #5B69C2,
  secondary:  #3F88C5,
  tertiary:   #FFBA08,
  alternative:#2B8A91,
  danger:     #D00000,
  light:      #f4f4f4,
  dark:       #222,
  dark-alt:   #3B4649,
  stable:     #9E9EA2,
  white:      #fff,
  facebook:   #3b5998,
  google:     #dd4b39,
);
@mixin fa-color($color-name, $color) {
  .fa-ios-#{$color-name} {
    color: $color;
  }
  .fa-md-#{$color-name} {
    color: $color;
  }
  .fa-wp-#{$color-name} {
    color: $color;
  }
}

@each $color-name, $color-base, $color-contrast in get-colors($colors) {
  @include fa-color($color-name, $color-base);
}

// Icons and buttons

@mixin button-icon {
  font-size: 1.3em;
  line-height: .67;

  pointer-events: none;
}

[icon-left] fa-icon {
  @include button-icon;

  @include padding-horizontal(null, .3em);
}

[icon-right] fa-icon {
  @include button-icon;

  @include padding-horizontal(.4em, null);
}

[icon-only] fa-icon {
  @include padding(0, .5em);

  font-size: 1.8em;
  line-height: .67;

  pointer-events: none;
}
