// page-intro {
  :host {

  .scroll-content{
    overflow: hidden;
  }
  ion-slide {
    height: 100%;
    .slide-zoom {
      height: 100%;
    }
  }
  .walkthrough {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    &>.walk-slides {
      display: flex;
      flex-direction: column;
      flex: 1.7;
      position: relative;
      align-items: center;
      justify-content: center;
      background: color($colors, light);
      img {
        max-height: 50%;
        z-index: 0;
        max-width: unset !important;
        width: unset !important;
      }
    }
    &>.footer {
      display: flex;
      flex: 0.6;
      flex-direction: column;
      padding: 30px 20px;
      z-index: 5;
      background: white;
      h1 {
        font-size: 3rem;
        color: color($colors, primary);
      }
      p {
        font-size: 1.37rem;
        color: color($colors, dark);
        margin: 0;
      }
      .skip {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 20px 0 0 20px;
        color: color($colors, primary);
      }
    }
    &>.bottom{
      display: flex;
      padding: 30px 20px;
      align-items: center;
      color: color($colors, primary);
      &>.left{
        display: flex;
        flex:1;
      }
      &>.right{
        flex:1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
  .swiper-pagination {
    bottom: 50% !important;
    .swiper-pagination-bullet {
      opacity: 1;
      width:16px;
      border-radius: 0;
      height:6px;
      border: 1px solid color($colors, tertiary);
      // padding: 5px;
      background: color($colors, white);
    }
    .swiper-pagination-bullet-active {
      background: color($colors, tertiary);
    }
  }
}
