// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


/*$toolbar-ios-button-color: color($colors, dark-alt);
$toolbar-ios-text-color: color($colors, dark-alt);
$toolbar-ios-title-text-color: color($colors, dark-alt);
$toolbar-ios-title-font-weight: 400;
$toolbar-ios-border-color: transparent;
$toolbar-background: color($colors, white);
$tabs-background: color($colors, white);
$text-color:  color($colors, dark-alt);
$tabs-ios-tab-text-color: color($colors, dark-alt);

.toolbar {
    box-shadow: 9px 19px 85px -9px color($colors, light);
    // border-bottom: 0.5px solid color($colors, light);
    .toolbar-background {
      // background: transparent;
    }
    button {
      color: color($colors, dark-alt);
    }
    .toolbar-title {
      text-transform: capitalize;
      img{
        margin-top:10px;
        width:100px;
      }
    }
  }
  
  .toggle {
    position: relative;
    width: 51px;
    height: 12px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    contain: none;
    .toggle-inner {
      left: 2px;
      top: -8px;
      border: 1px solid color($colors, stable);
    }
  }*/