$colors: (
  primary:    #5B69C2,
  secondary:  #3F88C5,
  tertiary:   #FFBA08,
  alternative: #2B8A91,
  danger:     #D00000,
  light:      #f4f4f4,
  dark:       #222,
  dark-alt: #3B4649,
  stable: #9E9EA2,
  white: #fff,
  facebook:   #3b5998,
  google:     #dd4b39,
);
page-dashboard {
  ion-card-header {
    text-align: center;
  }
  dashboard-cards {
    padding: 10px;
  }
  .tasks {
    ion-card-header {
      text-align: left;
    }
    .card-content-ios {
      padding: 0 !important;
    }
    ion-col {
      border-top: 1px solid color($colors, light);
      padding: 10px 20px!important;
      &:first-of-type {
        border-right: 1px solid color($colors, light);
      }
      h4{
        font-size: 1.3rem;
        font-weight: 300;
        color: color($colors, stable);
      }
      p{
        font-size: 2.6rem;
        font-weight: 300;
        color: color($colors, dark-alt);
      }
    }
  }
}
