// $colors: (
//   primary:    #5B69C2,
//   secondary:  #3F88C5,
//   tertiary:   #FFBA08,
//   alternative: #2B8A91,
//   danger:     #D00000,
//   light:      #f4f4f4,
//   dark:       #222,
//   dark-alt: #3B4649,
//   stable: #9E9EA2,
//   white: #fff,
//   facebook:   #3b5998,
//   google:     #dd4b39,
// );
:host {
  ion-item {
    --border-width: 0.55px;
    --inner-border-width: 0;
    --border-color: #c8c7cc;
    --border-radius: 6px;
    margin: 0 0 6px 0;
  }
  ion-button.fb {
    // --border-color: var(--ion-color-facebook);
    // --border-width: 2px;
    border: 2px solid var(--ion-color-facebook);
    --border-width: 0;
  }
  ion-button.google {
    // --border-color: var(--ion-color-google);
    // --border-width: 2px;
    --border-width: 0;
    border: 2px solid var(--ion-color-google);
  }
  .signin-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
     &>.icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex:.5;
      img {
        display: flex;
        width: 120px;
        height: 120px;
        justify-content: center;
        align-items: center;
      }
    }
    &>.footer {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      text-align: center;
      margin-bottom: 10px;
      padding:0 20px;
      ion-item{
        //border:0.55px solid #c8c7cc;
     //   border-radius: 6px;
        .item-inner{
          border-bottom: none;
        }
        &:first-of-type{
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-of-type{
          border-top:none;
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
      .list-ios {
        margin: -1px 0 2px;
      }
      .item-ios {
        padding-left: 0px !important;
      }
      .text-input-ios {
        padding: 5px;
        text-align: center;
      }
      .button-ios {
        margin: 0;
        height: 3.8em;
      }
      p {
        color: var(--ion-color-dark);
        font-size: 0.8rem;
        margin: 8px 0;
        a {
          color: var(--ion-color-alternative);
          font-size: 0.9rem;
        }
      }
    }
  }
}
